/* Gilmer Light */
@font-face {
  font-family: 'Gilmer';
  src: url('../fonts/Gilmer-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Gilmer Regular */
@font-face {
  font-family: 'Gilmer';
  src: url('../fonts/Gilmer-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Gilmer Medium */
@font-face {
  font-family: 'Gilmer';
  src: url('../fonts/Gilmer-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Gilmer Bold */
@font-face {
  font-family: 'Gilmer';
  src: url('../fonts/Gilmer-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Gilmer Heavy */
@font-face {
  font-family: 'Gilmer';
  src: url('../fonts/Gilmer-Heavy.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Gilmer Outline - Mantemos um nome separado pois é um estilo visual diferente */
@font-face {
  font-family: 'Gilmer Outline';
  src: url('../fonts/Gilmer-Outline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Alternate Gothic No1 - A mais estreita */
@font-face {
  font-family: 'AlternateGotNo1';
  src: url('../fonts/AlternateGotNo1D.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Alternate Gothic No2 - Largura intermediária */
@font-face {
  font-family: 'AlternateGotNo2';
  src: url('../fonts/AlternateGotNo2D.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Alternate Gothic No3 - A mais larga das três */
@font-face {
  font-family: 'AlternateGotNo3';
  src: url('../fonts/AlternateGotNo3D.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Big-Caslon';
  src: url('../fonts/Big-Caslon-Medium.woff2') format('woff2');
  /* Usamos 500 para representar o peso Medium */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}