/* Alternate Gothic No1 - A mais estreita */
@font-face {
  font-family: 'AlternateGotNo1';
  src: url('../fonts/AlternateGotNo1D.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Alternate Gothic No2 - Largura intermediária */
@font-face {
  font-family: 'AlternateGotNo2';
  src: url('../fonts/AlternateGotNo2D.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Alternate Gothic No3 - A mais larga das três */
@font-face {
  font-family: 'AlternateGotNo3';
  src: url('../fonts/AlternateGotNo3D.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Big-Caslon';
  src: url('../fonts/Big-Caslon-Medium.woff2') format('woff2');
  /* Usamos 500 para representar o peso Medium */
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}