@import url(./variable.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--app-color-white);
  width: 100%;
  height: 100%;
  color: var(--app-color-black);
}

.btn-primary {
  background-color: var(--app-color-blue);
  color: var(--app-color-blue-contrast);
  font-weight: 600;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--app-color-yellow);
  color: var(--app-color-yellow-contrast);
  transition-duration: .35s;
  box-shadow: 4px 2px 12px rgba(19, 19, 19, 0.15);
}

.btn-secondary {
  background-color: var(--app-color-yellow);
  color: var(--app-color-yellow-contrast);
  font-weight: 600;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--app-color-blue);
  color: var(--app-color-blue-contrast);
  transition-duration: .35s;
  box-shadow: 4px 2px 12px rgba(19, 19, 19, 0.15);
  transform: scale(1.05);
}


header {
  height: 80px;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 3;
  width: 100%;
  /* background-color: var(--app-color-white); */
  /* box-shadow: 2px 0px 16px rgba(19, 19, 19, 0.25); */

  .header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
  }

  img {
    width: 58px;
    height: fit-content;
  }
}

main {
  display: flex;
  flex-direction: column;

  .intro {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    background: #417BEF;
    background: linear-gradient(150deg, rgba(65, 123, 239, 1) 0%, rgba(247, 196, 206, 1) 50%, rgba(255, 254, 240, 1) 100%);

    .intro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;
      padding: 0 24px;
    }
  }

  .separador-intro {
    position: absolute;
    bottom: 0;
    height: 128px;
    width: 100%;
    background: #fffef0;
    background: linear-gradient(180deg, rgba(247, 196, 206, 0) 0%, rgba(255, 254, 240, 1) 100%);
  }

  .welcome {
    display: flex;
    flex-direction: column;
  }
}