@import url(./variable.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--app-color-white);
  width: 100%;
  height: 100%;
  color: var(--app-color-black);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

.bg-blue {
  background-color: var(--app-color-blue);
}

.bg-pink {
  background-color: var(--app-color-pink);
}

.bg-yellow {
  background-color: var(--app-color-yellow);
}

.highlight-p {
  color: var(--app-color-pink);
}

.highlight-b {
  color: var(--app-color-blue);
}

.highlight-y {
  color: var(--app-color-yellow);
}

.description {
  line-height: 1.5;
}

.btn-primary {
  background-color: var(--app-color-blue);
  color: var(--app-color-blue-contrast);
  font-weight: 600;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--app-color-yellow);
  color: var(--app-color-yellow-contrast);
  box-shadow: 4px 2px 12px rgba(19, 19, 19, 0.15);
  transition: background-color 0.45s, color 0.25s;
}

.btn-secondary {
  background-color: var(--app-color-yellow);
  color: var(--app-color-yellow-contrast);
  font-weight: 600;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--app-color-blue);
  color: var(--app-color-blue-contrast);
  transition-duration: .35s;
  box-shadow: 4px 2px 12px rgba(19, 19, 19, 0.15);
  transform: scale(1.1);
  transition: background-color 0.45s, color 0.25s, transform 0.75s;
}


header {
  height: 80px;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 3;
  width: 100%;
  /* background-color: var(--app-color-white); */
  /* box-shadow: 2px 0px 16px rgba(19, 19, 19, 0.25); */

  .header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
  }

  img {
    width: 58px;
  }
}

main {
  display: flex;
  flex-direction: column;
  /* Para rolagem da pagina - temporario */
  margin-bottom: 1000px;

  .intro {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    background: var(--app-color-blue);
    background: linear-gradient(150deg, rgba(var(--app-color-blue-rgb), 1) 0%, rgba(var(--app-color-pink-rgb), 1) 50%, rgba(var(--app-color-white-rgb), 1) 100%);

    .intro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;
      padding: 0 24px;
      max-width: 1024px;
      margin: 0 auto;
    }
  }

  .separador-intro {
    position: absolute;
    bottom: 0;
    height: 128px;
    width: 100%;
    background: var(--app-color-white);
    background: linear-gradient(180deg, rgba(var(--app-color-pink-rgb), 0) 0%, rgba(var(--app-color-white-rgb), 1) 100%);
  }

  .welcome {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 64px auto;
    text-align: center;
    position: relative;
    width: 100%;

    .welcome-text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 24px;
      margin: 0 auto;
      max-width: 672px;
    }

    .welcome-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 32px;
      margin: 0 auto;
      padding: 0 24px;
      max-width: 400px;

      .welcome-card {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 16px;
        padding: 32px;
        background-color: rgba(var(--app-color-yellow-rgb), 0.15);
        border: 1px solid transparent;
        border-radius: 16px;
        text-align: initial;
        transition: 0.35s;

        p:first-child {
          font-size: 48px;
          transition: 0.75s;
        }

        p:last-child {
          color: #434343;
          line-height: 1.4;
        }
      }

      .welcome-card:hover {
        border-color: var(--app-color-blue);
        box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.05);

        p:first-child {
          transform: scale(1.1);
        }
      }
    }
  }

  .impact {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #131313;
    height: calc(100vh - 80px);
    width: 100%;
    overflow: hidden;
    position: relative;

    .impact-bg {
      position: absolute;
      height: calc(100vh - 80px);
      width: 100%;
      transform: scale(2);
      filter: blur(9);
      background: #F7C4CE;
      background: linear-gradient(135deg, rgba(var(--app-color-pink-rgb), 0.5) 0%, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(var(--app-color-yellow-rgb), 0.5) 100%);
    }

    .impact-line {
      position: relative;

      h1 {
        text-align: center;
        font-size: 44px;
        padding: 48px 24px;
        color: var(--app-color-white);
        line-height: 1.3;
        max-width: 376px;
      }
    }

    .impact-line::after,
    .impact-line::before {
      position: absolute;
      content: '';
      width: 64px;
      height: 5px;
      background-color: var(--app-color-pink);
      border: 1px white;
      z-index: 3;
      left: calc(50% - 32px);
      border-radius: 16px;
    }

    .impact-line::after {
      bottom: 0;
    }

    .impact-line::before {
      top: 0;
    }
  }

  .change {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 64px auto 128px;
    padding: 0 24px;
    max-width: 1024px;

    .change-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;
      max-width: 1024px;
      margin: 0 auto;
    }

    .change-cards {
      display: flex;
      flex-direction: column;
      gap: 56px;

      .change-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        gap: 32px;
        margin: 0 auto;

        .change-wrap {
          display: flex;
          justify-content: center;
          gap: 24px;
          padding: 24px;
          width: 100%;
          height: 280px;
          border-radius: 16px;
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);

          img {
            object-fit: contain;
            height: 100%;
          }
        }

        .change-card-info {
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 12px 8px 24px;
          flex: 2;
          border-bottom: 2px solid var(--app-color-blue);

          .change-card-title {
            display: flex;
            align-items: center;
            gap: 16px;

            .circle {
              min-width: 40px;
              width: 40px;
              height: 40px;
              background-color: var(--app-color-blue);
              border-radius: 50%;
            }
          }

          .change-card-description {
            font-size: 18px;
            line-height: 1.4;
          }
        }
      }
    }
  }

  .find {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 64px auto 0;
    background: #F7C4CE;
    background: linear-gradient(90deg, rgba(var(--app-color-pink-rgb), 0.2) 0%, rgba(var(--app-color-pink-rgb), 0) 25%, rgba(var(--app-color-pink-rgb), 0) 75%, rgba(var(--app-color-pink-rgb), 0.2) 100%);
    padding: 128px 0 152px;
    position: relative;
    width: 100%;

    .separador-find-up,
    .separador-find-down {
      position: absolute;
      height: 64px;
      width: 100%;
      background: var(--app-color-pink);
    }

    .separador-find-up {
      top: 0;
      background: linear-gradient(0deg, rgba(var(--app-color-pink-rgb), 0) 0%, rgba(var(--app-color-pink-rgb), 0.1) 50%, rgba(var(--app-color-white-rgb), 0.2) 60%, rgba(var(--app-color-white-rgb), 1) 100%);
    }

    .separador-find-down {
      bottom: 0;
      /* height: 152px; */
      background: linear-gradient(180deg, rgba(var(--app-color-pink-rgb), 0) 0%, rgba(var(--app-color-pink-rgb), 0.1) 50%, rgba(var(--app-color-white-rgb), 0.2) 60%, rgba(var(--app-color-white-rgb), 1) 100%);
    }

    .find-text {
      margin: 0 auto;
      max-width: 1024px;
      padding: 0 24px;
      text-align: center;
    }

    .find-cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 32px;
      padding: 0 24px;
      margin: 0 auto;
      max-width: 400px;

      .find-card {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--app-color-white);
        padding: 24px;
        border-radius: 16px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
        width: 100%;
        transition: 0.35s;

        .find-card-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 16px;
          width: fit-content;
          font-size: 28px;
          border-radius: 12px;
          transition: 0.45s;

          span {
            transform: translateY(-4px);
          }
        }

        .find-card-title {
          span {
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
          }
        }

        p.find-card-description {
          line-height: 1.4;
        }
      }

      .find-card:nth-child(1),
      .find-card:nth-child(4),
      .find-card:nth-child(7) {
        .find-card-icon {
          background-color: var(--app-color-blue);
        }
      }

      .find-card:nth-child(2),
      .find-card:nth-child(5),
      .find-card:nth-child(8) {
        .find-card-icon {
          background-color: var(--app-color-pink);
        }
      }

      .find-card:nth-child(3),
      .find-card:nth-child(6),
      .find-card:nth-child(9) {
        .find-card-icon {
          background-color: var(--app-color-yellow);
        }
      }

      .find-card:hover {
        transform: scale(1.08);
        box-shadow: 0 24px 50px -12px rgba(0, 0, 0, 0.15);

        .find-card-icon {
          transform: scale(1.1);
          font-size: 40px;
          padding: 8px;
          border-radius: 50%;
          box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }

  .not-alone {
    background: #417BEF;
    background: linear-gradient(90deg, rgba(65, 123, 239, 1) 0%, rgba(var(--app-color-pink-rgb), 1) 100%);
    color: var(--app-color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 496px;
    margin: 0 24px 24px;
    border-radius: 16px;
    box-shadow: 0 24px 50px -12px rgba(0, 0, 0, 0.25);

    h2 {
      max-width: 600px;
      text-align: center;
      padding: 32px;
      line-height: 1.4;
    }

    a {
      max-width: 80%;
      text-align: center;
      margin: 16px;
    }
  }

  .active {
    min-height: 100vh;
    background: var(--app-color-yellow);
    background: radial-gradient(circle, rgba(var(--app-color-yellow-rgb), 0.3) 0%, rgba(var(--app-color-blue-rgb), 0.3) 100%);
    position: relative;
    margin: 64px 0;
    text-align: center;

    .custom-shape-divider-top-1770305671,
    .custom-shape-divider-bottom-1770305896 {
      position: absolute;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;

      svg {
        position: relative;
        display: block;
        width: calc(165% + 1.3px);
        height: 97px;

        .shape-fill {
          fill: var(--app-color-white);
        }
      }
    }

    .custom-shape-divider-top-1770305671 {
      top: -2px;
    }

    .custom-shape-divider-bottom-1770305896 {
      bottom: 0;
      transform: rotate(180deg);

      svg {
        height: 97px;
      }
    }

    .active-content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      margin: 56px 0;
      padding: 24px;
      padding-bottom: 56px;

      img {
        display: flex;
        justify-content: center;
        max-width: 150px;
        margin: 32px auto;
        padding: 16px 32px;
        border-radius: 40px;
        background-color: var(--app-color-yellow);
      }

      h2 {
        max-width: 600px;
        margin: 0 auto;
      }

      p.description {
        max-width: 550px;
        margin: 0 auto;

        span {
          font-weight: bold;
        }
      }

      .active-card {
        padding: 32px;
        background-color: var(--app-color-white);
        max-width: 900px;
        border-radius: 24px;
        margin: 0 auto 24px;
        border: 1px solid rgba(var(--app-color-blue-rgb), 0.3);
        box-shadow: 0 24px 50px -12px rgba(0, 0, 0, 0.25);

        p {
          line-height: 1.5;

          span {
            font-weight: bold;
            text-transform: uppercase;
            text-shadow: 2px 2px 2px  rgba(0, 0, 0, 0.05);
          }
        }
      }

      .active-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(88px, 1fr));
        gap: 16px;
        padding: 0 24px;
        margin: 0 auto;
        max-width: 300px;

        .active-item {
          .active-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            width: fit-content;
            font-size: 28px;
            border-radius: 12px;
            transition: 0.45s;
            margin: 0 auto 8px;

            span {
              transform: translateY(-4px);
            }
          }

          .active-title {
            width: fit-content;
            margin: 0 auto;
          }
        }

        .active-item:hover {
          transform: scale(1.08);
          .active-icon {
            transform: scale(1.1);
            font-size: 40px;
            padding: 8px;
            box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.1);

            .up {
              transform: translateY(-6px);
            }
          }
        }
      }
    }
  }
}












@media screen and (min-width: 500px) {
  main {}
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  .description {
    font-size: 20px;
  }

  main {
    .impact {
      height: 512px;

      .impact-line {
        h1 {
          font-size: 48px;
          max-width: 675px;
        }
      }
    }

    .change {
      gap: 72px;

      .change-cards {
        gap: 48px;

        .change-card {
          flex-direction: row;
          max-width: 900px;
          gap: 48px;

          .change-wrap {
            flex: 1;
          }
        }

        .change-card-info {
          .change-card-description {
            line-height: 1.4;
          }
        }

        .change-card.reverse {
          flex-direction: row-reverse;
        }
      }
    }

    .welcome>.welcome-cards,
    .find>.find-cards {
      max-width: 768px;
    }

    .not-alone {
      h2 {
        max-width: 700px;
      }
    }
    .active {
      .custom-shape-divider-top-1770305671 svg {
        width: calc(165% + 1.3px);
        height: 90px;
      }

      .custom-shape-divider-bottom-1770305896 svg {
        width: calc(165% + 1.3px);
        height: 100px;
      }

      .active-content {
        .active-card {
          p {
            font-size: 20px;
          }
        }
        .active-items {
          gap: 16px;
          max-width: 500px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 36px;
  }

  main {
    .welcome {
      .welcome-text {
        h1 {
          font-size: 48px;
          max-width: 900px;
        }
      }

      .welcome-cards {
        max-width: 1096px;
      }
    }

    .impact {
      height: 568px;

      .impact-line {
        h1 {
          max-width: 700px;
        }
      }
    }

    .find {
      .find-cards {
        max-width: 1024px;
      }
    }

    .not-alone {
      h2 {
        font-size: 40px;
        max-width: 900px;
      }

      a:hover {
        transform: scale(1.2);
      }
    }

    .active {
      .active-content {
        h2 {
          max-width: 700px;
        }
        p.description {
          max-width: 650px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 44px;
  }

  main {
    .welcome {
      .welcome-text {
        h1 {
          font-size: 56px;
          max-width: 900px;
        }
      }
    }

    .impact {
      .impact-line>h1 {
        max-width: 1000px;
        font-size: 68px;
      }
    }

    .active {
      .active-content {
        h2 {
          max-width: 800px;
        }
        p.description {
          max-width: 800px;
        }
      }
    }
  }
}