@import url(./variable.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: var(--app-color-white);
  width: 100%;
  height: 100%;
  color: var(--app-color-black);
}

.btn-primary {
  background-color: var(--app-color-blue);
  color: var(--app-color-blue-contrast);
  font-weight: 600;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--app-color-yellow);
  color: var(--app-color-yellow-contrast);
  box-shadow: 4px 2px 12px rgba(19, 19, 19, 0.15);
  transition: background-color 0.45s, color 0.25s;
}

.btn-secondary {
  background-color: var(--app-color-yellow);
  color: var(--app-color-yellow-contrast);
  font-weight: 600;
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 48px;
  border: none;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: var(--app-color-blue);
  color: var(--app-color-blue-contrast);
  transition-duration: .35s;
  box-shadow: 4px 2px 12px rgba(19, 19, 19, 0.15);
  transform: scale(1.05);
  transition: background-color 0.45s, color 0.25s, transform 0.75s;
}


header {
  height: 80px;
  position: absolute;
  top: 0;
  background-color: transparent;
  z-index: 3;
  width: 100%;
  /* background-color: var(--app-color-white); */
  /* box-shadow: 2px 0px 16px rgba(19, 19, 19, 0.25); */

  .header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    max-width: 1200px;
    margin: 0 auto;
  }

  img {
    width: 58px;
    height: fit-content;
  }
}

main {
  display: flex;
  flex-direction: column;
  /* Para rolagem da pagina - temporario */
  margin-bottom: 1000px;

  .intro {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    background: #417BEF;
    background: linear-gradient(150deg, rgba(65, 123, 239, 1) 0%, rgba(247, 196, 206, 1) 50%, rgba(255, 254, 240, 1) 100%);

    .intro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 16px;
      padding: 0 24px;
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  .separador-intro {
    position: absolute;
    bottom: 0;
    height: 128px;
    width: 100%;
    background: #fffef0;
    background: linear-gradient(180deg, rgba(247, 196, 206, 0) 0%, rgba(255, 254, 240, 1) 100%);
  }

  .welcome {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin: 48px 0 64px;
    text-align: center;

    .welcome-text {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 0 24px;
      max-width: 672px;
      margin: 0 auto;
    }

    .welcome-cards {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      justify-content: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 24px;
      text-align: initial;

      .welcome-card {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 16px;
        padding: 32px;
        background-color: rgba(var(--app-color-yellow-rgb), 0.15);
        border: 1px solid transparent;

        p:first-child {
          font-size: 48px;
        }

        p:last-child {
          color: #434343;
        }
      }

      .welcome-card:hover {
        border-color: var(--app-color-yellow-shade);
        transition: 0.35s;

        p:first-child {
          transform: scale(1.1);
          transition: 0.75s;
        }
      }
    }
  }

  .catchy {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #131313;
    height: calc(100vh - 80px);
    width: 100vw;
    overflow: hidden;
    position: relative;

    .catchy-bg {
      position: absolute;
      height: calc(100vh - 80px);
      width: 100%;
      transform: scale(2);
      filter: blur(9);
      background: #F7C4CE;
      background: linear-gradient(135deg, rgba(247, 196, 206, 0.5) 0%, rgba(0, 0, 0, 0) 40%, rgba(50, 49, 19, 0) 60%, rgba(255, 250, 100, 0.5) 100%);
    }
    .catchy-line {
      position: relative;

      h1 {
        text-align: center;
        font-size: 44px;
        padding: 48px 24px;
        color: var(--app-color-white);
        line-height: 1.3;

        .highlight-y {
          color: var(--app-color-yellow);
        }

        .highlight-p {
          color: var(--app-color-pink);
        }
      }
    }

    .catchy-line::after,
    .catchy-line::before {
      position: absolute;
      content: '';
      width: 64px;
      height: 5px;
      background-color: var(--app-color-pink);
      border: 1px white;
      z-index: 3;
      left: calc(50% - 32px);
      border-radius: 16px;
    }

    .catchy-line::after {
      bottom: 0;
    }

    .catchy-line::before {
      top: 0;
    }
  }
}

@media screen and (min-width: 500px) {
  main {
    .welcome {
      .welcome-cards {
        flex-flow: row wrap;
        .welcome-card {
          height: 365px;
          flex: 0 1 360px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .catchy {
      height: 512px;

      .catchy-line {
        h1 {
          font-size: 48px;
          max-width: 700px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    .catchy {
      height: 512px;

      .catchy-line {
        h1 {
          font-size: 64px;
          max-width: 1024px;
        }
      }
    }
  }
}
