@charset "UTF-8";

:root {
  --app-color-yellow: #fffa64;
  --app-color-yellow-rgb: 255, 250, 100;
  --app-color-yellow-shade: #f1ec42;
  --app-color-yellow-contrast: #13060a;

  --app-color-pink: #f7c4ce;
  --app-color-pink-rgb: 247, 196, 206;
  --app-color-pink-shade: #ecb1bd;
  --app-color-pink-contrast: #13060a;

  --app-color-blue: #417bef;
  --app-color-blue-rgb: 65, 123, 239;
  --app-color-blue-shade: #386cd4;
  --app-color-blue-contrast: #fffef0;

  --app-color-black: #13060a;
  --app-color-black-rgb: 19, 6, 10;
  --app-color-black-contrast: #fffef0;

  --app-color-white: #fffef0;
  --app-color-white-rgb: 255, 254, 240;
  --app-color-white-contrast: #13060a;

  --app-color-sucess: #2b990a;
  --app-color-sucess-contrast: #000000;
  --app-color-warning: #928d02;
  --app-color-warning-contrast: #000000;
  --app-color-danger: #a82200;
  --app-color-danger-shade: #7e1900;
  --app-color-danger-contrast: #ffffff;

  &.dark {
  --app-color-1: #f1e9df;
  --app-color-1-rgb: 241, 233, 223;
  --app-color-1-contrast: #000000;

  --app-color-2: #e7caab;
  --app-color-2-rgb: 231, 202, 171;
  --app-color-2-contrast: #ffffff;

  --app-color-3: #97694b;
  --app-color-3-rgb: 151, 105, 75;
  --app-color-3-contrast: #000000;
  }
}
